/* color used hex
#b309de purple
#909692 light grey
#edebeb white
*/


/* wildcard targets all elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*usual styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #b309de;
    font-family: cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header content*/

header {
    background-color: #909692;
}

header a {
    text-decoration: none;
}

h1 {
    font-size: 180%;
    text-transform: uppercase;
    color: #b309de;

}

#title {
    text-align: center;
}

#gta5-logo {
    margin-top: 20px;
}

.clickable {
    border-bottom: solid 1px;
}

nav {
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 110%;
}

#nav-list {
    color: white;
    margin: 1rem;
}

#icons {
    margin-left: 10px;
    text-align: center;
}

/*main content*/

main {
    flex: 1 0 auto;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("https://cdn.discordapp.com/attachments/1331423798708146235/1331621617515630672/family-ting.png?ex=679248c5&is=6790f745&hm=c944794fd4b53fa2d502d5160c0080a0a1a405603f5f1e1d488797ae76907c8f&") no-repeat center center/cover;
    background-color: #b309de;
    margin-top: 0px;
}

#hero-text{
    background-color: rgba(119,136,153 .7);
    font-size: 120%;
    }

.about-us {
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: fit-content;
}

p {
    font-size: 1rem;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

#clips{;
    background-color: #909692;
}

#clip-pics img{
    width: 100%;
    gap:1px;
}

h2{
    padding-left: 10px;
    text-decoration: underline;
}

#staff{
    background-color: white;
}


/*footer content*/
footer {
    background-color: #909692;
    position: fixed;
    bottom: 0%;
    width: 100%
}

#footer {
    width: 100%;
    margin-left: 0%;
}

#icons {
    color: #b309de;
    font-size: 2rem;
    padding: 27px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    justify-content: space-between;


}



/* media queries for large phones and larger 375px and up*/

@media screen and (min-width: 375px) {

    header {
        font-size: 80%;
    }

    h1 {
        margin-left: -10px;
    }

    #gta5-logo {
        position: absolute;
        margin-top: 40px;
        margin-left: -20px;
    }

    #midnight-logo {
        position: absolute;
        margin-top: 20px;
        margin-left: -10px;
    }

    nav {
        align-content: center;
        padding-left: 3rem;
    }

    #icons {
        text-align: center;
        margin-left: 25px;
    }
}

/* media queries for large phones and larger 768px and up*/
@media screen and (min-width: 768px) {
    /*header*/

    h1 {
        font-size: 2rem;
        margin-top: 30px;
        margin-left: -90px;
    }

    #title {
        text-align: center;
        margin-right: 100px;
    }


    #gta5-logo {
        position: absolute;
        margin-left: -80px;
        margin-top: 10px;
    }

    #midnight-logo {
        position: absolute;
        margin-top: -10px;
        margin-left: 5px;
    }


    nav {
        display: flex;
        position: relative;
        flex-direction: row;
        padding-right: 1rem;
        justify-content: right;
        margin-top: 1%;
        word-spacing: 1px;
        padding-top: 10px;
    }

    #nav-list {
        margin-top: -40px;
    }

    #icons {
        text-align: center;
        margin-left: 90px;
    }


    main {
        margin-top: 0px;

    }

    #icons {
        justify-content: space-between;
        text-align: center;
        margin-right: 50px;
    }
}

/* media queries for large phones and larger 1024px and up*/
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }

    #icons {
        text-align: center;
        justify-content: space-between;
        margin-right: 140px;
    }
}